doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='stylesheets/dist/css/normalize.css')
    link(rel='stylesheet', href='stylesheets/dist/css/app.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700', rel='stylesheet')
    title VetteChatApp
  body
    .layout__container
      nav
      .nav__secondary
        .seach
          input(type='search', placeholder='Zoek iemand')
        ul
          li.user.user--online
            .user__avatar
            h3.user__name Poes
            h5.user__motto Geef vis
      main.messages
        ul.message__container.message--received
          li.message__avatar
          li.message_user Beatrice
          li Ik ben echt koekesaai eigenlijk
          li haha
        ul.message__container.message--sent
          li.message__avatar
          li.message_user You
          li Ja swaar
          li ge weet het dan toch
          li hihi
        input#message(type='text')
        input(type='submit')
      .profile__container
        .profile__avatar
        .profile__name Annepries 🅱️
        .profile__motto I've got the power