doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='stylesheets/dist/css/normalize.css')
  link(rel='stylesheet' href='stylesheets/dist/css/app.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700' rel='stylesheet')
  title Login/register
.alert.alert--failed.hidden Oops, something went wrong!
.buttons--mobile
  .button--mobile.button--mobile--register.inactive
    h2 Register
  .button--mobile.button--mobile--login.active
    h2 Login
.container
  .register
    h2 Register
    div.userForm
      .userForm__field
        label(for='signup_email') e-mail
        .userForm__field__input
            img(src='images/email.svg' alt='Email icon' class='userForm__field__icon')
            input(type='text' name='email' id='signup_email')
      .userForm__field
        label(for='signup_username') username
        .userForm__field__input
            img(src='images/user.svg' alt='Username icon' class='userForm__field__icon')
            input(type='text' name='username'  id='signup_username')
      .userForm__field
        label(for='signup_password') password
        .userForm__field__input
            img(src='images/padlock.svg' alt='Password icon' class='userForm__field__icon')
            input(type='password' name='password' id='signup_password')
      .userForm__field
        .userForm__field--submit
          input(type='submit' value='Create my account' class='userForm__field__icon btn btn--primary' id="signup")
  .login
    h2 Login
    div.userForm
      .userForm__field
        label(for='login_username') username
        .userForm__field__input
            img(src='images/user.svg' alt='User icon' class='userForm__field__icon')
            input(type='text' name='username' id="login_username")
      .userForm__field
        label(for='login_password') password
        .userForm__field__input
            img(src='images/padlock.svg' alt='Password icon' class="userForm__field__icon")
            input(type='text' name='password' id='login_password')
      .userForm__field
        .userForm__field--submit
          input(type='submit' value='Login' class="btn btn--default" id="login")
  script(src='/javascripts/navigation.js')
  script(src='/javascripts/signup.js')
  script(src='/javascripts/login.js')