$tuna: #303944;
$pictonBlue: #45A4F8;
$solitude: #EAECF0;
$solitudeLight: #EAECF1;
$steel: #666666;
$catskillWhite: #F2F4F8;
$whiteLilac: #E8E8E8;
$aluminium: #999999;
$blackPearl: #1D232A;

$notEdgy: 3em;