*{
    box-sizing: border-box;
}

@import 'variables';
@import 'components/btn';
@import 'components/alert';
@import 'components/icon';
@import 'components/forms';
@import 'components/layout';
body{
    font-family: 'Roboto', sans-serif;
    background-color: $solitudeLight;
}

h2{
    font-weight: 400;
}