.alert{
    position: absolute;
    width: 80vw;
    left: 10vw;
    padding: .5em;
    text-align: center;
    top: 75px;
    color: $tuna; /*
    animation-name: alert;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    */
    border-left: 5px solid $steel;
    background-color: $aluminium;
}
.alert--failed{
    border-left: 5px solid $alertRed;
    background-color: $alertRedLight;
}
.alert--succes{
    border-left: 5px solid $pictonBlue;
    background-color: $pictonBlueLight;
}
/*
@keyframes alert{
    from{
        opacity: 1;
    } to {
        opacity: 0;
    }
}
*/