nav{
    background-color: $blackPearl;
    height: 100vh;
    grid-column: auto;
    color: tomato;
}

.nav__secondary{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.32+0,0+100 */
    background: -moz-linear-gradient(45deg, rgba(0,0,0,0.32) 0%, rgba(0,0,0,0) 100%), $secondaryNav; /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.32) 0%,rgba(0,0,0,0) 100%), $secondaryNav; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(0,0,0,0.32) 0%,rgba(0,0,0,0) 100%), $secondaryNav; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 100vh;
}
form.search{
    width: 100%;
    height: 10vh;
    margin: auto;
    border-bottom: 1px solid $tuna;
    padding: 10px;
}
form.search input{
    border-radius: $notEdgy;
    background-color: $tuna;
    border: 0;
    width: 200px;
    padding: .4em .7em;
    margin: 0 auto;
    color: $aluminium;
}
form.search input::placeholder{
    color: $aluminium;
}
.users{
    overflow-y: scroll;
    margin: 0;
    padding: 20px;
    height: 90vh;
    scrollbar-color: $tuna transparent;
}
.users::-webkit-scrollbar{
    background-color: transparent;
}
.users::-webkit-scrollbar-track{
    background-color: transparent;
}
.users::-webkit-scrollbar-thumb{
    background-color: $tuna;
    border-radius: $notEdgy;
}

.user{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    list-style: none;
    align-items: start;
    list-style-position: inside;
    list-style-type: none;
    margin: 20px 0;
}
.user__avatar{
    padding: 25px;
    height: 0;
    width: 0;
    background: tomato;
    border-radius: 100%;
    grid-row-start: span 3;
}
.user__avatar::after{
    content: " ";
    width: 100%;
    background-color: $tuna;
    padding: 1px 20px 0 20px;
    display: block;
    margin-left: -19px;
    margin-top: 40px;
}
.user__name{
    margin: 0;
    padding: 5px 10px;
    color: $whiteLilac;
    font-weight: normal;
}
.user__motto{
    margin: 0;
    padding: 0 10px;
    color: $aluminium;
    font-weight: normal;
}
.user::after{
    content: " ";
    padding: 3px;
    width: 0;
    height: 0;
    border-radius: 100%;
    display: block;
    position: relative;
    margin-top: -40px;
    margin-left: -62px;
}
.user--online::after{
    background-color: $pictonBlue;
}
.user--offline::after{
    background-color: $steel;
}
